<li data-address>
    <div class="account-address-card">
        <div class="account-card-header">
            <h4 class="account-card-title">{{ address.first_name }} {{ address.last_name }}</h4>
            {% comment %}{% if address == customer.default_address %}({{ 'customer.addresses.default' | t }}){% endif %}{% endcomment %}
            <button type="button"
                    class="btn btn-primary"
                    data-bs-toggle="modal"
                    data-bs-target="#EditAddress_{{ address.id }}"
                    data-address-id="{{ address.id }}"
                    aria-label="{{ 'customer.addresses.edit_address' | t }} {{ forloop.index }}">
                {{ 'customer.addresses.edit' | t }}
            </button>
        </div>
        <div class="account-card-content">
            <div class="field">
                <p>{{ address | format_address }}</p>
                <p class="phone">{{ address.phone }}</p>
            </div>
        </div>
        <div class="account-card-bottom">
            <button
                    class="button-black"
                    type="button"
                    aria-label="{{ 'customer.addresses.delete' | t }} {{ forloop.index }}"
                    data-target="{{ address.url }}"
                    data-confirm-message="{{ 'customer.addresses.delete_confirm' | t }}"
            >
                {{ 'customer.addresses.delete' | t }}
            </button>
        </div>
        <div class="account-new-address edit_address_container modal fade" id="EditAddress_{{ address.id }}" tabindex="-1" aria-labelledby="EditNewHeading_{{ address.id }}" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title" id="EditNewHeading_{{ address.id }}">{{ 'customer.addresses.edit_address' | t }}</h2>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="account-new-address-card">
                            <div class="account-new-address-card-content">
                                {%- form 'customer_address', address -%}
                                    <div class="field">
                                        <label class="country-label" for="AddressCountry_{{ form.id }}">
                                            {{ 'customer.addresses.country' | t }}
                                        </label>
                                        <div class="select">
                                            <select
                                                    id="AddressCountry_{{ form.id }}"
                                                    name="address[country]"
                                                    data-address-country-select
                                                    data-default="{{ form.country }}"
                                                    data-form-id="{{ form.id }}"
                                                    autocomplete="country"
                                            >
                                                {{ country_option_tags }}
                                            </select>
                                            <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">
                                                <use href="#icon-caret" />
                                            </svg>
                                        </div>
                                        <span class="input_validation_status" for="AddressCountry_{{ form.id }}">
                                            <i class="fa-regular fa-circle-check success"></i>
                                            <i class="fa fa-xmark fail"></i>
                                          </span>
                                    </div>
                                    <div class="field first-name">
                                        <label for="AddressFirstName_{{ form.id }}">{{ 'customer.addresses.first_name' | t }}</label>
                                        <input type="text" id="AddressFirstName_{{ form.id }}" name="address[first_name]"
                                               value="{{ form.first_name }}" autocomplete="given-name"
                                               placeholder="{{ 'customer.addresses.first_name' | t }}">
                                        <span class="input_validation_status" for="AddressFirstName_{{ form.id }}">
                                            <i class="fa-regular fa-circle-check success"></i>
                                            <i class="fa fa-xmark fail"></i>
                                          </span>
                                    </div>
                                    <div class="field last-name">
                                        <label for="AddressLastName_{{ form.id }}">{{ 'customer.addresses.last_name' | t }}</label>
                                        <input type="text" id="AddressLastName_{{ form.id }}" name="address[last_name]"
                                               value="{{ form.last_name }}" autocomplete="family-name"
                                               placeholder="{{ 'customer.addresses.last_name' | t }}">
                                        <span class="input_validation_status" for="AddressLastName_{{ form.id }}">
                                            <i class="fa-regular fa-circle-check success"></i>
                                            <i class="fa fa-xmark fail"></i>
                                          </span>
                                    </div>
                                    <div class="field">
                                        <label for="AddressAddress1_{{ form.id }}">{{ 'customer.addresses.address1' | t }}</label>
                                        <input type="text" id="AddressAddress1_{{ form.id }}" name="address[address1]"
                                               value="{{ form.address1 }}" autocomplete="address-line1"
                                               placeholder="{{ 'customer.addresses.address1' | t }}">
                                        <span class="input_validation_status" for="AddressAddress1_{{ form.id }}">
                                            <i class="fa-regular fa-circle-check success"></i>
                                            <i class="fa fa-xmark fail"></i>
                                          </span>
                                    </div>
                                    <div class="field">
                                        <label for="AddressAddress2_{{ form.id }}">{{ 'customer.addresses.address2' | t }}</label>
                                        <input type="text" id="AddressAddress2_{{ form.id }}" name="address[address2]"
                                               value="{{ form.address2 }}" autocomplete="address-line2"
                                               placeholder="{{ 'customer.addresses.address2' | t }}">
                                        <span class="input_validation_status" for="AddressAddress2_{{ form.id }}">
                                        <i class="fa-regular fa-circle-check success"></i>
                                        <i class="fa fa-xmark fail"></i>
                                      </span>
                                    </div>
                                    {% comment %}<div class="field">
                                        <input type="text" id="AddressCity_{{ form.id }}" name="address[city]" value="{{ form.city }}"
                                               autocomplete="address-level2" placeholder="{{ 'customer.addresses.city' | t }}">
                                        <label for="AddressCity_{{ form.id }}">{{ 'customer.addresses.city' | t }}</label>
                                        <span class="input_validation_status" for="AddressCity_{{ form.id }}">
                                        <i class="fa-regular fa-circle-check success"></i>
                                        <i class="fa fa-xmark fail"></i>
                                      </span>
                                    </div>{% endcomment %}
                                    <div id="AddressProvinceContainer_{{ form.id }}" class="field" style="display:none;">
                                        <label for="AddressProvince_{{ form.id }}">
                                            {{ 'customer.addresses.province' | t }}
                                        </label>
                                        <div class="select">
                                            <select
                                                    id="AddressProvince_{{ form.id }}"
                                                    name="address[province]"
                                                    data-default="{{ form.province }}"
                                                    autocomplete="address-level1"
                                            >
                                            </select>
                                            <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">
                                                <use href="#icon-caret" />
                                            </svg>
                                        </div>
                                    </div>
                                 {% comment %}   <div class="field">
                                        <input type="text" id="AddressZip_{{ form.id }}" name="address[zip]" value="{{ form.zip }}"
                                               autocapitalize="characters" autocomplete="postal-code"
                                               placeholder="{{ 'customer.addresses.zip' | t }}">
                                        <label for="AddressZip_{{ form.id }}">{{ 'customer.addresses.zip' | t }}</label>
                                        <span class="input_validation_status" for="AddressZip_{{ form.id }}">
                                            <i class="fa-regular fa-circle-check success"></i>
                                            <i class="fa fa-xmark fail"></i>
                                          </span>
                                    </div>{% endcomment %}
                                    <div class="field">
                                        <label for="AddressPhone_{{ form.id }}">{{ 'customer.addresses.phone' | t }}</label>
                                        <input type="tel" id="AddressPhone_{{ form.id }}" name="address[phone]" value="{{ form.phone }}"
                                               autocomplete="tel" placeholder="{{ 'customer.addresses.phone' | t }}">
                                        <span class="input_validation_status" for="AddressPhone_{{ form.id }}">
                                            <i class="fa-regular fa-circle-check success"></i>
                                            <i class="fa fa-xmark fail"></i>
                                          </span>
                                    </div>
                                    <div class="address-default-box check-box">
                                        {{ form.set_as_default_checkbox }}
                                        <label for="address_default_address_{{ form.id }}">
                                            {{ 'customer.addresses.set_default' | t }}
                                        </label>
                                    </div>
                                    <div class="address-update-box">
                                        <button>
                                            <span class="mobile-hide">{{ 'customer.addresses.add_popup' | t }}</span>
                                            <span class="desktop-hide">{{ 'customer.addresses.update' | t }}</span>
                                        </button>
                                        <button class="button-black" type="reset">{{ 'customer.addresses.cancel' | t }}</button>
                                    </div>
                                {%- endform -%}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</li>
