{% if section.settings.select_hds == "header_v3" %}
    {% if template contains 'index' %}
        <header id="header"
                class="header-home header-v3-h3 js_height_hd jsheader_sticky d-none d-xl-block {% if section.settings.hd_home_enable_transparents %}header-absolute{% endif %}">
            <div class="container container-v1">
                <div class="row align-items-start mx-0">
                    <div class="col-lg-2">
                      <div class="desktop-localization-wrapper">
                        {%- if section.settings.enable_country_selector and localization.available_countries.size > 1 -%}
                          <localization-form class="small-hide medium-hide" data-prevent-hide>
                            {%- form 'localization', id: 'HeaderCountryForm', class: 'localization-form' -%}
                              <div>
                                <h2 class="visually-hidden" id="HeaderCountryLabel">{{ 'localization.country_label' | t }}</h2>
                                {%- render 'country-localization', localPosition: 'HeaderCountry' -%}
                              </div>
                            {%- endform -%}
                          </localization-form>
                        {% endif %}

                        {%- if section.settings.enable_language_selector and localization.available_languages.size > 1 -%}
                          <localization-form class="small-hide medium-hide" data-prevent-hide>
                            {%- form 'localization', id: 'HeaderLanguageForm', class: 'localization-form' -%}
                              <div>
                                <h2 class="visually-hidden" id="HeaderLanguageLabel">{{ 'localization.language_label' | t }}</h2>
                                {%- render 'language-localization', localPosition: 'HeaderLanguage' -%}
                              </div>
                            {%- endform -%}
                          </localization-form>
                        {%- endif -%}
                      </div>
                    </div>
                    <div class="col-lg-8 d-flex flex-column justify-content-center align-items-center row-gap-3">
                        <div class="logo">
                            <div class="center logo delay05">
                                {% if section.settings.hd_home_logo_svg != blank %}
                                    <div class="logosvg"
                                         style="max-width:{{ section.settings.hd_home_logo_maxwidth }}px;">
                                        <a class="logourl"
                                           href="{{ shop.url }}">{{ section.settings.hd_home_logo_svg }}</a>
                                    </div>
                                {% else %}
                                    <a href="{{ shop.url }}">
                                        {% if section.settings.hd_home_logo != blank %}
                                            <img src="{{ section.settings.hd_home_logo | img_url: 'master' }}"
                                                 width="{{ section.settings.hd_home_logo_maxwidth }}"
                                                 alt="{{ shop.name }}">
                                        {% else %}
                                            <img src="//via.placeholder.com/160x46"
                                                 width="{{ section.settings.hd_home_logo_maxwidth }}"
                                                 alt="{{ shop.name }}">
                                        {% endif %}
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                        <div class="menu">
                            {% include 'eveland-menu' %}
                        </div>
                    </div>
                    <div class="col-lg-2 currencies-login">
                        <div class="cart-login-search align-items-center">
                            <ul class="list-inline list-unstyled mb-0">
                                <li class="list-inline-item mr-0">
                                    <a href="javascript:void(0)" class="search js-search-destop">
                                        {% if settings.hd_icon_search_svg_v3 != blank %}
                                            {{ settings.hd_icon_search_svg_v3 }}
                                        {% else %}
                                            <i class="{{ settings.hd_icon_search_v3 }}"></i>
                                        {% endif %}
                                    </a>
                                </li>
                                <li class="list-inline-item mr-0">
                                    <a href="javascript:void(0)"
                                       class="login js-call-popup-login">
                                       {% comment %}class="login {% if customer %}{% else %}js-call-popup-login{% endif %}">{% endcomment %}
                                        {% if settings.hd_icon_login_svg_v3 != blank %}
                                            {{ settings.hd_icon_login_svg_v3 }}
                                        {% else %}
                                            <i class="{{ settings.hd_icon_login_v3 }}"></i>
                                        {% endif %}

                                    </a>
                                </li>
                                <li class="list-inline-item mr-0">
                                    <a href="#swym-wishlist" class="swym-wishlist">
                                        {% if settings.hd_icon_wishlist_svg_v3 != blank %}
                                            {{ settings.hd_icon_wishlist_svg_v3 }}
                                        {% else %}
                                            <i class="{{ settings.hd_icon_wishlist_v3 }}"></i>
                                        {% endif %}

                                    </a>
                                </li>
                                <li class="list-inline-item mr-0">
                                    <a href="javascript:void(0)" class="cart js-call-minicart">
                                        {% if settings.hd_icon_cart_svg_v3 != blank %}
                                            {{ settings.hd_icon_cart_svg_v3 }}
                                        {% else %}
                                            <i class="{{ settings.hd_icon_cart_v3 }}"></i>
                                        {% endif %}
                                        <span class="js-number-cart number-cart {% if cart.item_count > 0 %} active {% endif %}">{{ cart.item_count }}</span>
                                    </a>
                                </li>
                            </ul>

                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </header>

        <script>
            jQuery(document).ready(function ($) {

                function hexToRgb(hex) {
                    var result = /^#?([a-f\d]{2})([a-f\d]{2})([a-f\d]{2})$/i.exec(hex);
                    return result ? {
                        r: parseInt(result[1], 16),
                        g: parseInt(result[2], 16),
                        b: parseInt(result[3], 16)
                    } : null;
                }

                var r = (hexToRgb("{{ section.settings.hd_home_bg_header_normal }}").r);
                var g = (hexToRgb("{{ section.settings.hd_home_bg_header_normal }}").g);
                var b = (hexToRgb("{{ section.settings.hd_home_bg_header_normal }}").b);
                {% if section.settings.hd_home_enable_transparents %}
                {% else %}
                $('.header-v3-h3').
                    css({
                        'background': 'rgba(' + r + ' ,' + g + ',' + b + ',{{ section.settings.hd_bg_header_opacity }})'
                    });
                {% endif %}

                {% if section.settings.enable_sticky_hd_home %}
                function menudestopscroll3() {
                    var $nav = $('.jsheader_sticky');
                    $nav.removeClass('menu_scroll_v3');

                    $(document).scroll(function () {

                        $nav.toggleClass('menu_scroll_v3', $(this).scrollTop() > $nav.height());
                        var r = (hexToRgb("{{ section.settings.hd_home_bg_header_normal }}").r);
                        var g = (hexToRgb("{{ section.settings.hd_home_bg_header_normal }}").g);
                        var b = (hexToRgb("{{ section.settings.hd_home_bg_header_normal }}").b);
                        $('.header-v3-h3.menu_scroll_v3').
                            css({
                                'background': 'rgba(' + r + ' ,' + g + ',' + b +
                                    ',{{ section.settings.hd_bg_header_opacity }})'
                            });
                        {% if section.settings.hd_home_enable_transparents %}
                        if ($(this).scrollTop() < $nav.height()) {
                            $('.header-v3-h3').css({ 'background': 'none' });
                            $nav.removeClass('menu_scroll_v3');
                        }
                        {% endif %}
                    });
                }

                menudestopscroll3();
                {% endif %}


            });
        </script>
        <style>
            #header .menu ul li .nav-link {
                color: {{section.settings.hd_home_color_text}};
            }

            #header .menu ul .nav-item .nav-link:hover {
                color: {{settings.hd_link_hover_color_index_v3}};
            }

            #header .currencies-login .cart-login-search ul li a svg {
                fill: {{section.settings.hd_home_color_text}};
            }

            #header .currencies-login .cart-login-search ul li .cart .number-cart {
                color: {{section.settings.hd_home_color_text}};
            }

            #header .currencies-login .cart-login-search ul li a i {
                color: {{section.settings.hd_home_color_text}};
            }

            #header .currencies-login .cart-login-search ul li a svg {
                fill: {{section.settings.hd_home_color_text}};
            }

        </style>
    {% endif %}
{% endif %}


{% if section.settings.select_hds_all == "header_ver3" %}
    {% unless template contains 'index' %}
        <header id="header"
                class="header-other header-v3-h3 js_height_hd jsheader_sticky d-none d-xl-block {% if section.settings.hd_other_enable_transparents %}header-absolute {% endif %}">
            <div class="container container-v1">
                <div class="row align-items-start mx-0">
                    <div class="col-lg-2">
                      <div class="desktop-localization-wrapper">
                        {%- if section.settings.enable_country_selector and localization.available_countries.size > 1 -%}
                          <localization-form class="small-hide medium-hide" data-prevent-hide>
                            {%- form 'localization', id: 'HeaderCountryForm', class: 'localization-form' -%}
                              <div>
                                {%- render 'country-localization', localPosition: 'HeaderCountry' -%}
                              </div>
                            {%- endform -%}
                          </localization-form>
                        {% endif %}

                        {%- if section.settings.enable_language_selector and localization.available_languages.size > 1 -%}
                          <localization-form class="small-hide medium-hide" data-prevent-hide>
                            {%- form 'localization', id: 'HeaderLanguageForm', class: 'localization-form' -%}
                              <div>
                                {%- render 'language-localization', localPosition: 'HeaderLanguage' -%}
                              </div>
                            {%- endform -%}
                          </localization-form>
                        {%- endif -%}
                      </div>
                    </div>
                    <div class="col-lg-8 d-flex flex-column justify-content-center align-items-center row-gap-3">
                        <div class="logo">
                            <div class="center logo delay05">
                                {% if section.settings.hd_other_logo_svg != blank %}
                                    <div class="logosvg"
                                         style="max-width:{{ section.settings.hd_other_logo_maxwidth }}px;">
                                        <a class="logourl"
                                           href="{{ shop.url }}">{{ section.settings.hd_home_logo_svg }}</a>
                                    </div>
                                {% else %}
                                    <a href="{{ shop.url }}">
                                        {% if section.settings.hd_other_logo != blank %}
                                            <img src="{{ section.settings.hd_other_logo | img_url: 'master' }}"
                                                 width="{{ section.settings.hd_other_logo_maxwidth }}"
                                                 alt="{{ shop.name }}">
                                        {% else %}
                                            <img src="//via.placeholder.com/160x46"
                                                 width="{{ section.settings.hd_other_logo_maxwidth }}"
                                                 alt="{{ shop.name }}">
                                        {% endif %}
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                        <div class="menu">
                            {% include 'eveland-menu' %}
                        </div>
                    </div>
                    <div class="col-lg-2 currencies-login">
                        <div class="cart-login-search align-items-center">
                            <ul class="list-inline list-unstyled mb-0">
                                <li class="list-inline-item mr-0">
                                    <a href="javascript:void(0)" class="search js-search-destop">
                                        {% if settings.hd_icon_search_svg_v3 != blank %}
                                            {{ settings.hd_icon_search_svg_v3 }}
                                        {% else %}
                                            <i class="{{ settings.hd_icon_search_v3 }}"></i>
                                        {% endif %}
                                    </a>
                                </li>
                                <li class="list-inline-item mr-0">
                                    <a href="javascript:void(0)"
                                       class="login js-call-popup-login">
                                       {% comment %}class="login {% if customer %}{% else %}js-call-popup-login{% endif %}">{% endcomment %}
                                        {% if settings.hd_icon_login_svg_v3 != blank %}
                                            {{ settings.hd_icon_login_svg_v3 }}
                                        {% else %}
                                            <i class="{{ settings.hd_icon_login_v3 }}"></i>
                                        {% endif %}

                                    </a>
                                </li>
                                <li class="list-inline-item mr-0">
                                    <a href="#swym-wishlist" class="swym-wishlist">
                                        {% if settings.hd_icon_wishlist_svg_v3 != blank %}
                                            {{ settings.hd_icon_wishlist_svg_v3 }}
                                        {% else %}
                                            <i class="{{ settings.hd_icon_wishlist_v3 }}"></i>
                                        {% endif %}

                                    </a>
                                </li>
                                <li class="list-inline-item mr-0">
                                    <a href="javascript:void(0)" class="cart js-call-minicart">
                                        {% if settings.hd_icon_cart_svg_v3 != blank %}
                                            {{ settings.hd_icon_cart_svg_v3 }}
                                        {% else %}
                                            <i class="{{ settings.hd_icon_cart_v3 }}"></i>
                                        {% endif %}
                                        <span class="js-number-cart number-cart {% if cart.item_count > 0 %} active {% endif %}">
                                             {% if cart.item_count <= 9 %}
                                                 {{cart.item_count}}
                                             {% else %}
                                                 9+
                                             {% endif %}

                                        </span>
                                    </a>
                                </li>
                            </ul>

                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </header>

        <script>
            jQuery(document).ready(function ($) {

                function hexToRgb(hex) {
                    var result = /^#?([a-f\d]{2})([a-f\d]{2})([a-f\d]{2})$/i.exec(hex);
                    return result ? {
                        r: parseInt(result[1], 16),
                        g: parseInt(result[2], 16),
                        b: parseInt(result[3], 16)
                    } : null;
                }

                var r = (hexToRgb("{{ section.settings.hd_other_bg_header_normal }}").r);
                var g = (hexToRgb("{{ section.settings.hd_other_bg_header_normal }}").g);
                var b = (hexToRgb("{{ section.settings.hd_other_bg_header_normal }}").b);
                {% if section.settings.hd_other_enable_transparents %}
                {% else %}
                $('.header-v3-h3').
                    css({
                        'background': 'rgba(' + r + ' ,' + g + ',' + b +
                            ',{{ section.settings.hd_other_bg_header_opacity }})'
                    });
                {% endif %}

                {% if section.settings.enable_sticky_hd_other %}
                function menudestopscroll3() {
                    var $nav = $('.jsheader_sticky');
                    $nav.removeClass('menu_scroll_v3');

                    $(document).scroll(function () {

                        $nav.toggleClass('menu_scroll_v3', $(this).scrollTop() > $nav.height());
                        var r = (hexToRgb("{{ section.settings.hd_other_bg_header_normal }}").r);
                        var g = (hexToRgb("{{ section.settings.hd_other_bg_header_normal }}").g);
                        var b = (hexToRgb("{{ section.settings.hd_other_bg_header_normal }}").b);
                        $('.header-v3-h3.menu_scroll_v3').
                            css({
                                'background': 'rgba(' + r + ' ,' + g + ',' + b +
                                    ',{{ section.settings.hd_other_bg_header_opacity }})'
                            });
                        {% if section.settings.hd_other_enable_transparents %}
                        if ($(this).scrollTop() < $nav.height()) {
                            $('.header-v3-h3').css({ 'background': 'none' });
                            $nav.removeClass('menu_scroll_v3');
                        }
                        {% endif %}
                    });
                }

                menudestopscroll3();
                {% endif %}


            });
        </script>

        <style>
            #header .menu ul li .nav-link {
                color: {{section.settings.hd_other_color_text}};
            }

            #header .menu ul .nav-item .nav-link:hover {
                color: {{settings.hd_link_hover_color_other_v3}};
            }

            #header .currencies-login .cart-login-search ul li a svg {
                fill: {{section.settings.hd_other_color_text}};
            }

            #header .currencies-login .cart-login-search ul li .cart .number-cart {
                color: {{section.settings.hd_other_color_text}};
            }

            #header .currencies-login .cart-login-search ul li a i {
                color: {{section.settings.hd_other_color_text}};
            }

            #header .currencies-login .cart-login-search ul li a svg {
                fill: {{section.settings.hd_other_color_text}};
            }

        </style>

    {% endunless %}
{% endif %}
