<style>
    .box_contentmenu .tab_content_menu_mobile .tab-content #tab_account_mobile.logged-in {
        width: 100%;
        padding: 30px 15px;
    }

    .side-menu-profile-user-details {
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
        border-bottom: 1px solid #ccc;
    }

    .side-menu-profile-user-details h3 {
        font-size: 1.4rem;
        line-height: 1.5rem;
        margin-bottom: 0px;
    }

    .side-menu-profile-user-details a {
        font-size: 1rem;
        line-height: 1.5rem;
    }

    .account-details-side-menu {
        list-style: none;
        padding-left: 0 !important;
        margin: 0 30px 0 0;
    }

    .account-details-side-menu li a {
        padding: 12px 0px;
        font-size: 18px;
        font-weight: 400;
        cursor: pointer;
        display: flex;
        align-items: center;
        border-bottom: 1px solid #f1f1f1;
    }

    .account-details-side-menu li a svg {
        margin-right: 20px;
        height: 20px;
        width: 20px;
    }
</style>
<div class="menu_moblie d-flex d-xl-none jsmenumobile align-items-center {% unless settings.enable_sticky_mobile %}engoc-disable-sticky{% endunless %}">
    <div class="menuleft-container">
        <a href="javascript:void(0)" title="" class="menuleft">
            <span class="iconmenu">
              <span></span>
              <span></span>
              <span></span>
            </span>
        </a>
        <a href="javascript:void(0)" class="{% if settings.enable_rtl_mode %} pl-2 {% else %}pr-3{% endif %} snize-custom-widget-opener search">
            {% if settings.hd_icon_search_svg_v3 != blank %}
                {{ settings.hd_icon_search_svg_v3 }}
            {% else %}
                <i class="{{ settings.hd_icon_search_v3 }}"></i>
            {% endif %}
        </a>
    </div>

    <div class="logo_menumoblie">
        {% if settings.logo_svgmobile != blank %}
            <div class="logosvg" style="max-width:{{ settings.mobile_logo_maxwidth }}px;">
                <a href="{{ shop.url }}">{{ settings.logo_svgmobile }}</a>
            </div>
        {% else %}
            <a href="{{ shop.url }}">
                {% if settings.logo_mobile != blank %}
                    <img src="{{ settings.logo_mobile | img_url: 'master' }}"
                         width="{{ settings.mobile_logo_maxwidth }}" alt="logo">
                {% else %}
                    <img src="//via.placeholder.com/40x40" width="{{ settings.mobile_logo_maxwidth }}" alt="logo">
                {% endif %}
            </a>
        {% endif %}

    </div>
    <div class="menuright">
        <a href="#swym-wishlist" class="swym-wishlist">
            {% if settings.hd_icon_wishlist_svg_v3 != blank %}
                {{ settings.hd_icon_wishlist_svg_v3 }}
            {% else %}
                <i class="{{ settings.hd_icon_wishlist_v3 }}"></i>
            {% endif %}

        </a>
        <a href="{{ routes.cart_url }}" title="mini-cart">
            {% if settings.hd_icon_cart_mb_svg != blank %}{{ settings.hd_icon_cart_mb_svg }} {% else %}
                <i class="{{ settings.hd_icon_cart_mb }}"></i>{% endif %}
            <span class="count_pr_incart enj-cartcount">{{ cart.item_count }}</span>
        </a>
    </div>
</div>
<div class="box_contentmenu_background">
</div>
<div class="box_contentmenu">
    <div class="tab_content_menu_mobile">
        <div class="nav nav-tabs toptab_box_content list-unstyled mb-0">
            <a class="account-link-mobile" href="{% if customer %}{{ routes.account_url }}{% else %}{{ routes.account_login_url }}{% endif %}" role="tab" data-toggle="tab">
                <span class="">
                    {% render 'icon-account' %}
                </span>
                <span class="{% if settings.enable_rtl_mode %} mr-2 {% else %}ml-2{% endif %}">
                    {% if customer %}{{ 'customer.account.title' | t }}{% else %}{{ 'customer.login.title_menu_mb' | t }} {% endif %}
                </span>
            </a>
            {%- if settings.enable_country_selector and localization.available_countries.size > 1 -%}
                <localization-form class="small-hide medium-hide" data-prevent-hide>
                    {%- form 'localization', id: 'HeaderCountryForm', class: 'localization-form' -%}
                        <div>
                            {%- render 'country-localization', localPosition: 'HeaderCountry' -%}
                        </div>
                    {%- endform -%}
                </localization-form>
            {% endif %}

            {%- if settings.enable_language_selector and localization.available_languages.size > 1 -%}
                <localization-form class="small-hide medium-hide" data-prevent-hide>
                    {%- form 'localization', id: 'HeaderLanguageForm', class: 'localization-form' -%}
                        <div>
                            {%- render 'language-localization', localPosition: 'HeaderLanguage' -%}
                        </div>
                    {%- endform -%}
                </localization-form>
            {%- endif -%}
        </div>
        <div class="close-menu-mobile text-center js-eveland-close">
            {% render 'icon-close' %}
        </div>
        <div class="tab-content">
            <div class="tab-pane tab_children_menu show in active" id="tab_menu_mobile">
                <div>
                    {% assign i = 1 %}

                    {% assign main_menu = settings.main_menu_store_mb %}
                    {% for link in linklists[main_menu].links %}
                        {% assign item = link.title | downcase %}
                        {% assign child_list_handle = link.title | handleize %}

                        {% if linklists[child_list_handle].links != blank %}

                            <div class="menu-horizon-list">

                                {% if link.title contains '[' %}
                                    {%- assign label = link.title | split: '[' | last | split: ']' | first -%}
                                    {%- assign bgc = link.title | split: '(' | last | split: ')' | first -%}

                                    <a href="{{ link.url }}" title="{{ link.title | split: '[' | first }}"
                                       class="relative nammenu ">{{ link.title | split: '[' | first }}
                                        <span class="absolute label_menu label_menu-{{ link.title | handleize }}-{{ forloop.index }}"
                                              {% if link.title contains '(' %}style="background-color: {{ link.title | split: '(' | last | split: ')' | first }};"{% endif %}><span>{{ link.title | split: '[' | last | split: ']' | first }}</span></span>
                                        <style>
                                            .label_menu-{{link.title | handleize}}-{{forloop.index}}:before {
                                                border-top: 4px solid{{link.title | split: '(' | last  | split: ')' | first}};
                                            }
                                        </style>
                                    </a>
                                {% else %}
                                    <a href="{{ link.url }}" title="{{ link.title | split: '[' | first }}"
                                       class="relative nammenu ">{{ link.title | split: '[' | first }}</a>
                                {% endif %}

                                <a data-check="c{{ i }}" class="toggle-menumobile  js_icon_horizon-menu">
                                    <i class=" {% if settings.enable_rtl_mode %}fa fa-angle-left{% else %}fa fa-angle-right{% endif %}"></i>
                                </a>
                                <div class="c{{ i }} menu_lv2">
                                    {% if settings.enable_rtl_mode %}
                                        <a href="javascript:void(0)" title="{{ link.title | split: '[' | first }}"
                                           class="js-back back-to">
                                            <i class="fa fa-angle-right pr-2 "></i>
                                            {{ link.title | split: '[' | first }}
                                        </a>
                                    {% else %}
                                        <a href="javascript:void(0)" title="{{ link.title | split: '[' | first }}"
                                           class="js-back back-to">
                                            <i class="fa fa-angle-left pl-2 "></i>
                                            {{ link.title | split: '[' | first }}
                                        </a>
                                    {% endif %}
                                    {% for childlink in linklists[child_list_handle].links %}
                                        {% assign grand_child_list_handle = childlink.title | handle %}
                                        {% if linklists[grand_child_list_handle].links != blank %}
                                            <h2 class="title_menu_mb relative">
                                                {% if childlink.title contains '[' %}

                                                    <a href="{{ childlink.url }}"
                                                       title="{{ childlink.title | split: '[' | first }}"
                                                       class="delay03 menu_lv1 "><span>{{ childlink.title | split: '[' | first }}</span>
                                                        <div class="absolute label_menu label_menu-{{ childlink.title | handleize }}-{{ forloop.index }}"
                                                             {% if childlink.title contains '(' %}style="background-color: {{ childlink.title | split: '(' | last | split: ')' | first }};"{% endif %}>{{ childlink.title | split: '[' | last | split: ']' | first }}</div>
                                                        <style>
                                                            .label_menu-{{childlink.title | handleize}}-{{forloop.index}}:before {
                                                                border-top: 4px solid{{childlink.title | split: '(' | last  | split: ')' | first}};
                                                            }
                                                        </style>
                                                    </a>
                                                {% else %}
                                                    <a href="{{ childlink.url }}"
                                                       title="{{ childlink.title | split: '[' | first }}"
                                                       class="delay03 uppercase menu_lv1 "><span>{{ childlink.title | split: '[' | first }}</span></a>
                                                {% endif %}

                                            </h2>
                                            <ul class="list-unstyled mb-0 menu_lv3">
                                                {% for grandchildlink in linklists[grand_child_list_handle].links %}
                                                    <li>

                                                        {% if grandchildlink.title contains '[' %}
                                                            {%- assign label = grandchildlink.title | split: '[' | last | split: ']' | first -%}
                                                            {%- assign bgc = grandchildlink.title | split: '(' | last | split: ')' | first -%}
                                                            <a href="{{ grandchildlink.url }}"
                                                               title="{{ grandchildlink.title | split: '[' | first }}"
                                                               class="relative delay03 uppercase menu_lv1 "><span>{{ grandchildlink.title | split: '[' | first }}</span>
                                                                <div class="absolute label_menu label_menu-{{ grandchildlink.title | handleize }}-{{ forloop.index }}"
                                                                     {% if grandchildlink.title contains '(' %}style="background-color: {{ grandchildlink.title | split: '(' | last | split: ')' | first }};"{% endif %}>{{ grandchildlink.title | split: '[' | last | split: ']' | first }}</div>
                                                                <style>
                                                                    .label_menu-{{grandchildlink.title | handleize}}-{{forloop.index}}:before {
                                                                        border-top: 4px solid{{grandchildlink.title | split: '(' | last  | split: ')' | first}};
                                                                    }
                                                                </style>
                                                            </a>
                                                        {% else %}
                                                            <a href="{{ grandchildlink.url }}"
                                                               title="{{ grandchildlink.title | split: '[' | first }}"
                                                               class="delay03 uppercase menu_lv1 "><span>{{ grandchildlink.title | split: '[' | first }}</span></a>
                                                        {% endif %}
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        {% else %}
                                            <h2 class="title_menu_mb title_only_one" style="width: 100%"><a
                                                        href="{{ childlink.url }}">{{ childlink.title }}</a></h2>
                                        {% endif %}
                                    {% endfor %}

                                    {% capture banner_mobile %}banner_mobile_{{ i }}{% endcapture %}
                                    {% capture banner_mobile_url %}banner_mobile_url_{{ i }}{% endcapture %}
                                    {% if settings[banner_mobile] %}
                                        <div class="banner_sidebar">
                                            <a href="{{ settings[banner_mobile_url] }}">
                                                <img class="w-100" src="{{ settings[banner_mobile] | img_url: 'master' }}">
                                            </a>
                                        </div>
                                    {% endif %}
                                </div>
                                {% assign i = i | plus: 1 %}
                            </div>
                        {% else %}

                            <div class="menu-horizon-list ">
                                {% if link.title contains '[' %}
                                    {%- assign label = link.title | split: '[' | last | split: ']' | first -%}
                                    {%- assign bgc = link.title | split: '(' | last | split: ')' | first -%}
                                    <a href="{{ link.url }}" title="{{ link.title | split: '[' | first }}"
                                       class="nammenu relative w-100 menu_lv1 "><span>{{ link.title | split: '[' | first }}</span>
                                        <div class="absolute label_menu label_menu-{{ link.title | handleize }}-{{ forloop.index }}"
                                             {% if link.title contains '(' %}style="background-color: {{ link.title | split: '(' | last | split: ')' | first }};"{% endif %}>{{ link.title | split: '[' | last | split: ']' | first }}</div>
                                        <style>
                                            .label_menu-{{link.title | handleize}}-{{forloop.index}}:before {
                                                border-top: 4px solid{{link.title | split: '(' | last  | split: ')' | first}};
                                            }
                                        </style>
                                    </a>
                                {% else %}
                                    <a href="{{ link.url }}" title="{{ link.title | split: '[' | first }}"
                                       class="nammenu w-100 menu_lv1 "><span>{{ link.title | split: '[' | first }}</span></a>
                                {% endif %}
                            </div>

                        {% endif %}
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
</div>
