<div class="js-minicart minicart">
    <div class="relative minicart-inner {% if cart.item_count <= 0 %}empty{% endif %}">
        <div class="mini-content ">
            <div class="mini-cart-head">
                <h3 class="title">{{ 'minicart.general.title' | t }}</h3>
            </div>
            <div class="enj-cart-error"></div>
            <div class="mini-cart-bottom enj-minicart-ajax">
                {% if cart.item_count > 0 %}
                    <div class="prod">
                        <div class="product-cart ">
                            {% for item in cart.items %}
                                <ol class="minicart_items list-unstyled mb-0 px-0">
                                    <li class="minicart_item d-flex" data-line="{{ forloop.index }}">
                                        <div class="thumb_img_cartmini">
                                            <a href="{{ item.url }}" title="" class=""><img alt="{{ item.title }}"
                                                                                            src="{{ item.image | product_img_url: 'small' }}"></a>
                                        </div>
                                        <div class="product-detail">
                                            <h3 class="product_name_mini">
                                                <a href="{{ item.url }}">{{ item.title }}</a>
                                            </h3>
                                            <div class="product-des">
                                                {{ item.product.metafields.custom.short_description }}
                                            </div>
                                            <div class="product_info">
                                                {%- unless item.product.has_only_default_variant %}
                                                    <div class="options-value">
                                                        {% for option in item.options_with_values -%}
                                                            <span class="option-value">{{ option.name }}: {{ option.value }} . </span>
                                                        {%- endfor %}
                                                    </div>
                                                {% endunless %}
                                                <div class="product-quantity"
                                                     data-title="Quantity">
                                                    <input type="number" name="updates[]" id="mini-updates_{{ item.id }}"
                                                           value="{{ item.quantity }}" min="0" data-id="{{ forloop.index }}">
                                                </div>
                                            </div>
                                            <div class="product_price">
                                                <span class="price_sale">{{ item.price | money_with_currency }}</span>
                                                <p class="price-text">{{ 'products.product.price_text' | t }}</p>
                                            </div>
                                        </div>
                                        <div class="produc_remove">
                                            <a href="javascript:void(0)" class="remove-product"
                                               data-line="{{ forloop.index }}"><i class="fa fa-trash-o"></i></a>
                                        </div>
                                    </li>
                                </ol>
                            {% endfor %}
                        </div>
                        <div class="sub-total">
                            {% if settings.enable_rtl_mode %}
                                <span class="total-title float-right">{{ 'minicart.general.total_price' | t }}</span>
                                <span class="total-price float-left">{{ cart.total_price | money_with_currency }}</span>
                            {% else %}
                                <span class="total-title float-left">{{ 'minicart.general.total_price' | t }}</span>
                                <span class="total-price float-right">{{ cart.total_price | money_with_currency }}</span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="action-checkout">
                        {% if settings.enable_rtl_mode %}
                            <a href="/checkout" class="button-checkout">
                                <span>{{ 'minicart.general.checkout' | t }}</span>
                            </a>
                            <a href="/cart" class="button-viewcart">
                                <span>{{ 'minicart.general.view_cart' | t }}</span>
                            </a>
                        {% else %}
                            <a href="/cart" class="button-viewcart">
                                <span>{{ 'minicart.general.view_cart' | t }}</span>
                            </a>
                            <a href="/checkout" class="button-checkout">
                                <span>{{ 'minicart.general.checkout' | t }}</span>
                            </a>
                        {% endif %}
                    </div>
                {% else %}
                    <div class="list_product_minicart empty">
                        <div class="empty-product_minicart">
                            <img src="{{ 'mini-cart-empty.png' | asset_url }}"/>
                            <p>{{ 'minicart.general.empty' | t }}</p>
                            <a href="/collections/all" class="to-cart">{{ 'minicart.general.shop_now' | t }}</a>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="js-bg bg-minicart"></div>
</div>
