<price-range class="facets__price">
  {%- liquid
    assign range_max = filter.range_max | divided_by: 100

    assign min_value = 0
    if filter.min_value.value
      assign min_value = filter.min_value.value | divided_by: 100
    endif

    assign max_value = filter.range_max | divided_by: 100
    if filter.max_value.value
      assign max_value = filter.max_value.value | divided_by: 100
    endif
  -%}
  <div class="price-input">
    <div class="field">
      <input
        class="filter-price bg-transparent text-black flex-grow-1"
        name="{{ filter.min_value.param_name }}"
        id="Filter-{{ filter.min_value.param_name }}"
        {% if filter.min_value.value -%}
          value="{{ filter.min_value.value | money_without_currency | replace: ',', '' }}"
        {%- endif %}
        placeholder="0"
        type="number"
        min="0"
        max="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
      >
    </div>
    <div class="line">-</div>
    <div class="field">
      <input
        class="filter-price bg-transparent text-black flex-grow-1"
        name="{{ filter.max_value.param_name }}"
        id="Filter-{{ filter.max_value.param_name }}"
        {% if filter.max_value.value -%}
          value="{{ filter.max_value.value | money_without_currency | replace: ',', '' }}"
        {%- endif %}
        placeholder="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
        type="number"
        min="0"
        max="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
      >
    </div>
  </div>
  <div class="range-slider" id="range-slider" data-min-slider="0" data-max-slider="{{ range_max }}"></div>
</price-range>
