{{ 'size-guide.js' | asset_url | script_tag }}
{{ 'size-guide.css' | asset_url | stylesheet_tag: preload: true }}
<div class="ciloe-size-guide relative">
    <a href="#" class="btn_size_guide">Size guide</a>
    <div class="content_size_guide fixed text-center">
        <div class="layout_size_guide text-center relative">
            <div class="top-bar close_size_guide">
                <a href="#" class="set-16-svg">
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1"
                         id="Capa_1" x="0px" y="0px" viewBox="0 0 298.667 298.667"
                         style="enable-background:new 0 0 298.667 298.667;" xml:space="preserve">
                          <g>
                              <g>
                                  <polygon
                                          points="298.667,30.187 268.48,0 149.333,119.147 30.187,0 0,30.187 119.147,149.333 0,268.48 30.187,298.667     149.333,179.52 268.48,298.667 298.667,268.48 179.52,149.333   "></polygon>
                              </g>
                          </g>
                    </svg>
                </a>
            </div>
            <div class="header-bar">
                <h5><img src="{{ 'Forma-1.png' | asset_img_url: "152x152" }}">{{ settings.size_guide_title }}</h5>
            </div>
            <div class="layout-container">
                {{ settings.size_guide_page.content }}
                {{ settings.size_guide_content }}
            </div>
        </div>
        <div class="ciloe-size-guide-overlay"></div>
    </div>
</div>
