{{ 'customer.css' | asset_url | stylesheet_tag }}
<script src="{{ 'social-login.js' | asset_url }}" defer="defer"></script>

<section class="page-width container">
    <h1 class="customer-header">
        {{ 'customer.register.title' | t }}
    </h1>
    <div class="grid grid--1-col grid--2-col-tablet customer-container">
        <div class="grid__item customer register">
            <svg style="display: none">
                <symbol id="icon-error" viewBox="0 0 13 13">
                    <circle cx="6.5" cy="6.50049" r="5.5" stroke="white" stroke-width="2"></circle>
                    <circle cx="6.5" cy="6.5" r="5.5" fill="#ffffff" stroke="#D60000" stroke-width="0.7"></circle>
                    <path d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z" fill="#D60000"></path>
                    <path d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z" fill="#D60000" stroke="white" stroke-width="0.7">
                    </path>
                </symbol>
            </svg>
            {%- form 'create_customer', novalidate: 'novalidate' -%}
            {%- if form.errors -%}
                <h2 class="form__message" tabindex="-1" autofocus>
                    <svg aria-hidden="true" focusable="false" role="presentation">
                        <use href="#icon-error" />
                    </svg>
                    Registration failed
                </h2>
                <div class="errors">
                    <svg aria-hidden="true" focusable="false" role="presentation">
                        <use href="#icon-error" />
                    </svg>
                    <ul>
                        {%- for field in form.errors -%}
                            <li>
                                {%- if field == 'form' -%}
                                    {{ form.errors.messages[field] }}
                                {%- else -%}
                                    <a href="#RegisterForm-{{ field }}">
                                        {{ form.errors.translated_fields[field] | capitalize }}
                                        {{ form.errors.messages[field] }}
                                    </a>
                                {%- endif -%}
                            </li>
                        {%- endfor -%}
                    </ul>
                </div>
            {%- endif -%}
            <div class="field field-first-name">
                <label for="RegisterForm-FirstName">
                    {{ 'customer.register.first_name' | t }}
                </label>
                <input
                        type="text"
                        name="customer[first_name]"
                        id="RegisterForm-FirstName"
                        {% if form.first_name %}value="{{ form.first_name }}"{% endif %}
                        autocomplete="given-name"
                        placeholder="{{ 'customer.register.first_name' | t }}"
                >
            </div>
            <div class="field field-last-name">
                <label for="RegisterForm-LastName">
                    {{ 'customer.register.last_name' | t }}
                </label>
                <input
                        type="text"
                        name="customer[last_name]"
                        id="RegisterForm-LastName"
                        {% if form.last_name %}value="{{ form.last_name }}"{% endif %}
                        autocomplete="family-name"
                        placeholder="{{ 'customer.register.last_name' | t }}"
                >
            </div>
            <div class="field">
                <label for="RegisterForm-email">
                    {{ 'customer.register.email' | t }}
                </label>
                <input
                        type="email"
                        name="customer[email]"
                        id="RegisterForm-email"
                        {% if form.email %} value="{{ form.email }}"{% endif %}
                        spellcheck="false"
                        autocapitalize="off"
                        autocomplete="email"
                        aria-required="true"
                        {% if form.errors contains 'email' %}
                            aria-invalid="true"
                            aria-describedby="RegisterForm-email-error"
                        {% endif %}
                        placeholder="{{ 'customer.register.email' | t }}"
                >
                {%- if form.errors contains 'email' -%}
                    <span id="RegisterForm-email-error" class="form__message errors">
                        <svg aria-hidden="true" focusable="false" role="presentation">
                          <use href="#icon-error" />
                        </svg>
                        {{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}.
                    </span>
                {%- endif -%}
            </div>
            <div class="field">
                <label for="RegisterForm-password">
                    {{ 'customer.register.password' | t }}
                </label>
                <div class="password-content">
                    <input
                            type="password"
                            name="customer[password]"
                            id="RegisterForm-password"
                            aria-required="true"
                            {% if form.errors contains 'password' %}
                                aria-invalid="true"
                                aria-describedby="RegisterForm-password-error"
                            {% endif %}
                            placeholder="{{ 'customer.register.password' | t }}"
                    >
                    <button type="button" class="show-password">
                        <span class="icon-hide" style="display: none">
                            <svg id="Component_19_2" data-name="Component 19 – 2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="19.92" height="13.704" viewBox="0 0 19.92 13.704">
                              <defs>
                                <clipPath id="clip-path">
                                  <rect id="Rectangle_2749" data-name="Rectangle 2749" width="19.92" height="13.704" fill="#656565"/>
                                </clipPath>
                              </defs>
                              <g id="Group_45424" data-name="Group 45424" transform="translate(0 0)">
                                <g id="Group_45420" data-name="Group 45420" transform="translate(0 0)" clip-path="url(#clip-path)">
                                  <path id="Path_61229" data-name="Path 61229" d="M9.96,0C4.459,0,0,6.852,0,6.852S4.459,13.7,9.96,13.7s9.96-6.852,9.96-6.852S15.461,0,9.96,0m0,11.6a4.753,4.753,0,1,1,4.753-4.753A4.753,4.753,0,0,1,9.96,11.6" transform="translate(0)" fill="#656565"/>
                                  <path id="Path_61230" data-name="Path 61230" d="M88.292,49.331a2.852,2.852,0,1,1-2.852-2.852,2.852,2.852,0,0,1,2.852,2.852" transform="translate(-75.48 -42.479)" fill="#656565"/>
                                </g>
                              </g>
                            </svg>
                        </span>
                        <span class="icon-show">
                            <svg id="Component_19_2" data-name="Component 19 – 2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="19.92" height="16.794" viewBox="0 0 19.92 16.794">
                              <defs>
                                <clipPath id="clip-path">
                                  <rect id="Rectangle_2750" data-name="Rectangle 2750" width="19.92" height="16.794" fill="#656565"/>
                                </clipPath>
                              </defs>
                              <g id="Group_45423" data-name="Group 45423" transform="translate(0 0)">
                                <g id="Group_45422" data-name="Group 45422" transform="translate(0 0)" clip-path="url(#clip-path)">
                                  <path id="Path_61231" data-name="Path 61231" d="M74.842,11.385a4.754,4.754,0,0,1,4.19,7L81,20.351a21.38,21.38,0,0,0,3.8-4.213s-4.459-6.852-9.96-6.852a8.181,8.181,0,0,0-3.85,1.056L72.6,11.948a4.728,4.728,0,0,1,2.244-.563" transform="translate(-64.882 -8.487)" fill="#656565"/>
                                  <path id="Path_61232" data-name="Path 61232" d="M106.5,55.874l3.533,3.533a2.853,2.853,0,0,0-3.533-3.533" transform="translate(-97.336 -50.963)" fill="#656565"/>
                                  <path id="Path_61233" data-name="Path 61233" d="M.592,1.206,3.277,3.892A21.516,21.516,0,0,0,0,7.651S4.459,14.5,9.96,14.5a7.786,7.786,0,0,0,3.195-.734l3.025,3.025,1.206-1.206L1.8,0Zm4.88,4.88L7.11,7.725A2.851,2.851,0,0,0,9.887,10.5l1.638,1.638A4.754,4.754,0,0,1,5.471,6.086" transform="translate(0)" fill="#656565"/>
                                </g>
                              </g>
                            </svg>
                        </span>
                    </button>
                </div>
                {%- if form.errors contains 'password' -%}
                    <span id="RegisterForm-password-error" class="form__message errors">
                        <svg aria-hidden="true" focusable="false" role="presentation">
                          <use href="#icon-error" />
                        </svg>
                        {{ form.errors.translated_fields['password'] | capitalize }} {{ form.errors.messages['password'] }}.
                    </span>
                {%- endif -%}
            </div>
            <div class="field">
                <label for="RegisterForm-password">
                    {{ 'customer.register.password_confirm' | t }}
                </label>
                <input
                        type="password"
                        name="customer[password_confirm]"
                        id="RegisterForm-password_confirm"
                        aria-required="true"
                        placeholder="{{ 'customer.register.password_confirm' | t }}"
                >
                <span class="password-match" style="display: none;">PASSWORDS DO NOT MATCH</span>
            </div>
            <div class="term-condition">
                By signing up you agree to our <a href="/pages/terms-conditions" title="Terms & Conditions">Terms & Conditions</a>. You can unsubscribe at anytime you wish.
            </div>
            {% if cart.item_count > 0 %}

            {% endif %}
            <button class="register-main-button">
                {{ 'customer.register.submit' | t }}
            </button>
            <div class="create-account-message"> {{ 'customer.register.login_message' | t }}</div>
            <a href="{{ routes.account_login_url }}" class="create-account-link link">
                {{ 'customer.register.login' | t }}
            </a>
            {% comment %}<input type="hidden" name="return_to" value="/" />{% endcomment %}

        </div>
        <div class="devider-container">
            <div class="devider-line"></div>
            <div class="devider-text"><span>Or</span></div>
            <div class="devider-line"></div>
        </div>
        <div class="grid__item social-login">
            <div class="one-click-social-login"></div>

            <a class="btnL btn-social" rel="nofollow"
               href="https://shop.miniorange.com/social-login/openidcallback/apple?shop=feelunique-me.myshopify.com&hosts={{ request.host }}">
                <i class="fab fa-apple"></i> Apple Login</a><br>

            {%- endform -%}
        </div>
    </div>
</section>
<style>
    span.password-match {
        float: none;
        font-size: 11px;
        color: #b00000;
    }
</style>
<script>
    $('form#create_customer').submit(function (e) {
        check_password_match(e);
    });
    $('#RegisterForm-password_confirm').keyup(function (e) {
        check_password_match(e);
    });
    $('#RegisterForm-password').keyup(function (e) {
        check_password_match(e);
    });

    function check_password_match(e) {
        if ($('#RegisterForm-password').val() === $('#RegisterForm-password_confirm').val()) {
            $('.password-match').fadeOut('slow');

        } else {
            $('.password-match').fadeIn('slow');
            e.preventDefault(); // stops our form from submitting
        }
    }

    var passwordButton = document.querySelector('.show-password');
    var passwordInput = document.getElementById("RegisterForm-password");

    passwordButton.addEventListener('click', function () {
        if (passwordInput.type === "password") {
            passwordInput.type = "text";
            passwordButton.querySelector('.icon-show').style.display = 'none';
            passwordButton.querySelector('.icon-hide').style.display = 'block';
        } else {
            passwordInput.type = "password";
            passwordButton.querySelector('.icon-hide').style.display = 'none';
            passwordButton.querySelector('.icon-show').style.display = 'block';
        }
    });
</script>
