{{ 'collection.css' | asset_url | stylesheet_tag }}
{{ 'collection.js' | asset_url | script_tag }}

    {% comment %}
    Use .grid--rev so that the collection tags appear below the products on mobile
    {% endcomment %}
    <div class="container container-v1 wrap-bread-crumb breadcrumb_collection style1">
        <div
            class="text-center bg_bread " {% if section.settings.ena_bg_img %} style="background-image : url({% if section.settings.bg_breadcrumb != blank %}{{ section.settings.bg_breadcrumb | img_url: 'master' }} {% else %}//via.placeholder.com/1920x300 {% endif %}); background-position : center; background-size: cover" {% else %}style="background-color : {{ section.settings.bg_color_breadcrumb }}"{% endif %}>
            <div class="title-page">
                <h2 class="">{{ collection.title }}</h2>
            </div>
            {%- if collection.description != blank -%}
                <div class="title-sub text-black">
                    {{ collection.description }}
                </div>
            {% endif %}
        </div>
    </div>
    <style>
        .breadcrumb_collection .title-page h2 {
            color: {{section.settings.color_breadcrumb}} !important;
        }

        .breadcrumb_collection .bread-crumb a {
            color: {{section.settings.color_breadcrumb}} !important;
        }

        .breadcrumb_collection .bread-crumb a i {
            color: {{section.settings.color_breadcrumb}} !important;
        }

        .breadcrumb_collection .bread-crumb strong {
            color: {{section.settings.color_breadcrumb}} !important;
        }

        {% if section.settings.collection_layout == "bg_mordern" %}
        @media (min-width: 992px) {
            .breadcrumb_collection .bg-breadcrumb {
                padding: 170px 0 190px
            }
        }

        {% endif %}
    </style>
    <div class="container container-v1">
        {% include 'collection-main' %}
    </div>
    {% if collection.filters.size > 0 %}
        {% include 'filter-modal', filters: collection.filters %}
    {% endif %}
{% schema %}
{
    "name": "Collection Page",
    "settings": [
        {
            "type": "checkbox",
            "id": "ena_bg_img",
            "label": "Enable Background Image"
        },
        {
            "type": "image_picker",
            "id": "bg_breadcrumb",
            "label": "Background Image BreadCrumb",
            "info": "1920x510px recommended"
        },
        {
            "type": "image_picker",
            "id": "bg_breadcrumb_mobi",
            "label": "Background Mobile Image BreadCrumb",
            "info": "360x240px recommended"
        },
        {
            "type": "color",
            "id": "color_breadcrumb",
            "label": "Links Breadcrumb Color",
            "default": "#000"
        },
        {
            "type": "header",
            "content": "Collection Layout"
        },
        {
            "type": "range",
            "id": "prod_per_page",
            "min": 2,
            "max": 50,
            "step": 1,
            "label": "Products Per Page",
            "default": 8
        },
        {
            "type": "select",
            "id": "prod_per_row",
            "label": "Product Per Row",
            "options": [
                {
                    "value": "4",
                    "label": "3 Product Per Row"
                },
                {
                    "value": "3",
                    "label": "4 Product Per Row"
                }
            ]
        },
        {
            "type": "header",
            "content": "Collection Sidebar"
        },
        {
            "type": "select",
            "id": "sidebar_layout",
            "label": "Sidebar Layout",
            "options": [
                {
                    "value": "sidebar_left",
                    "label": "Sidebar Left"
                },
                {
                    "value": "sidebar_right",
                    "label": "Sidebar Right"
                }
            ],
            "default": "sidebar_left"
        },
        {
            "type": "checkbox",
            "id": "ena_sticky_sidebar",
            "label": "Enable Sticky",
            "default": true
        },
        {
            "type": "header",
            "content": "Collection Banner Mordern"
        },
        {
            "type": "checkbox",
            "id": "ena_banner_mordern",
            "label": "Enable",
            "default": true
        },
        {
            "type": "image_picker",
            "id": "bannerfull_img",
            "info": "1920 x 414px recommended",
            "label": "Image Banner"
        },
        {
            "type": "text",
            "id": "big_title",
            "label": "Big Title",
            "default": "A NEW COLLECTION"
        },
        {
            "type": "text",
            "id": "mini_title",
            "label": "Mini Title",
            "default": "SALE UP TO 30%"
        },
        {
            "type": "text",
            "id": "btn_title",
            "label": "Title Button",
            "default": "Shop Now"
        },
        {
            "type": "url",
            "id": "bannerfull_url",
            "label": "Url collection"
        },
        {
            "type": "header",
            "content": "Config"
        },
        {
            "type": "checkbox",
            "id": "ena_filter",
            "label": "Enable Filter",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "ena_filter2",
            "label": "Enable Sort By",
            "default": true
        },
        {
            "type": "header",
            "content": "Show more button"
        },
        {
            "type": "text",
            "id": "show_more_btn_text",
            "label": "Content",
            "default": "Show more"
        }
    ],
    "blocks": [
        {
            "type": "collection",
            "name": "Collection",
            "settings": [
                {
                    "type": "collection",
                    "id": "block_collection",
                    "label": "Collection"
                },
                {
                    "type": "text",
                    "id": "title",
                    "label": "Label Collection",
                    "default": "text"
                },
                {
                    "type": "image_picker",
                    "id": "web_img",
                    "info": "1920x510px recommended",
                    "label": "Collection Web Image"
                },
                {
                    "type": "image_picker",
                    "id": "mobile_img",
                    "info": "456x456px recommended",
                    "label": "Collection Mobile Image"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Collection Page"
        }
    ]
}
{% endschema %}
