<div class="page-cms wrap-bread-crumb breadcrumb_collection2">
    <div class="title-page {% if section.settings.bg_breadcrumb != blank %} page-has-background{% endif %}"
            {% if section.settings.bg_breadcrumb != blank %}
                style="--bg_breadcrumb : url({{ section.settings.bg_breadcrumb | img_url: 'master' }});
         {% if section.settings.bg_breadcrumb_mobile != blank %}--bg_breadcrumb_mobile : url({{ section.settings.bg_breadcrumb_mobile | img_url: 'master' }}){% else %}--bg_breadcrumb_mobile : url({{ section.settings.bg_breadcrumb | img_url: 'master' }}){% endif %}"
            {% endif %}
    >
        <h2 class="container-page-cms">{{ page.title }}</h2>
    </div>
    <div class="contact-us-pages container-page-cms">
        <div>
            {%- if section.blocks.size > 0 -%}
                {% for block in section.blocks %}
                    {%- case block.type -%}
                        {%- when '@app' -%}
                            {% render block %}
                        {% when 'text-content' %}
                            {% if block.settings.block_content == blank %}{% continue %}{% endif %}
                            <div class="text-content {% if block.settings.remove_margin %}remove-margin{% endif %}">
                                {% if block.settings.block_title != blank %}
                                    <div class="text-content_title">{{ block.settings.block_title }}</div>
                                {% endif %}
                                {% if block.settings.block_content %}
                                    <div class="text-content_content">{{ block.settings.block_content }}</div>
                                {% endif %}
                            </div>
                        {% when 'form' %}
                            <div class="form-container text-content">
                                {% if block.settings.block_title %}
                                    <div class="text-content_title">{{ block.settings.block_title }}</div>
                                {% endif %}
                                {% form 'contact' %}
                                    {% if form.posted_successfully? %}
                                        <div class="alert alert-success alert-dismissible" role="alert">
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span></button>
                                            <p style="margin-bottom: 5px;">
                                                {{ 'contact.form.post_success' | t }}
                                            </p>
                                        </div>
                                    {% endif %}

                                    {% if form.errors %}
                                        <div class="alert alert-success alert-dismissible" role="alert">
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span></button>
                                            <!-- {{ form.errors.size }} or {{ form.errors | size }} -->
                                            <p style="margin-bottom: 5px;">Your contact form
                                                has {{ form.errors | size | pluralize: "an error", "a few errors" }}. To
                                                submit your form, make the following changes and try again:</p>
                                            {% for field in form.errors %}
                                                <p style="margin-bottom: 5px;">
                                                    The {{ field | capitalize | replace: 'Body', 'Message' }}
                                                    field {{ form.errors.messages[field] }}.</p>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                    <div class="contact-name">
                                        <input placeholder="{{ block.settings.contact_form_name }}"
                                               type="text" id="contactFormName" name="contact[name]" required>
                                    </div>
                                    <div class="contact-email">
                                        <input placeholder="{{ block.settings.contact_form_email }}"
                                               type="email" id="contactFormEmail" name="contact[email]" required>
                                    </div>
                                    <div class="contact-subject">
                                        <input placeholder="{{ block.settings.contact_form_phone }}" type="text"
                                               id="contactFormPhone" name="contact[phone]" required>
                                    </div>
                                    <div class="contact-message">
                                        <textarea placeholder="{{ block.settings.contact_form_content }}"
                                                  cols="20" rows="4" id="contactFormMessage" name="contact[body]"
                                                  required></textarea>
                                    </div>
                                    <div class="contact-submit">
                                        <button class="shop-button">{{ block.settings.contact_form_btn }}</button>
                                    </div>
                                {% endform %}
                            </div>
                    {%- endcase -%}
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
{% schema %}
{
    "name": "Contact us",
    "settings": [
        {
            "type": "image_picker",
            "id": "bg_breadcrumb",
            "label": "Background Image Title",
            "info": "1920x277px recommended"
        },
        {
            "type": "image_picker",
            "id": "bg_breadcrumb_mobile",
            "label": "Background Image Title Mobile",
            "info": "430x277px recommended"
        }
    ],
    "blocks": [
        {
            "type": "@app"
        },
        {
            "type": "text-content",
            "name": "Text content",
            "settings": [
                {
                    "type": "text",
                    "id": "block_title",
                    "label": "Title"
                },
                {
                    "type": "richtext",
                    "id": "block_content",
                    "label": "Content"
                },
                {
                    "type": "checkbox",
                    "id": "remove_margin",
                    "label": "Remove margin of p tag",
                    "default": true
                }
            ]
        },
        {
            "type": "form",
            "name": "Form",
            "settings": [
                {
                    "type": "text",
                    "id": "block_title",
                    "label": "Title"
                },
                {
                    "type": "text",
                    "id": "contact_form_name",
                    "label": "Placeholder name",
                    "default": "Name"
                },
                {
                    "type": "text",
                    "id": "contact_form_email",
                    "label": "Placeholder email",
                    "default": "Email"
                },
                {
                    "type": "text",
                    "id": "contact_form_phone",
                    "label": "Placeholder Phone",
                    "default": "Phone number"
                },
                {
                    "type": "text",
                    "id": "contact_form_content",
                    "label": "Placeholder Message",
                    "default": "Message"
                },
                {
                    "type": "text",
                    "id": "contact_form_btn",
                    "label": "Button name",
                    "default": "Send"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Contact us",
            "blocks": [
            ]
        }
    ]
}
{% endschema %}
