<!-- /templates/cart.liquid -->
{% comment %}

For info on test orders:
- General http://docs.shopify.com/manual/your-store/orders/test-orders
- Shopify Payments - http://docs.shopify.com/manual/more/shopify-payments/testing-shopify-payments

{% endcomment %}
{{ 'cart.css' | asset_url | stylesheet_tag }}

<div class="wrap-bread-crumb breadcrumb_collection2 d-none">
    <div class="text-center bg-breadcrumb"
         style="background-image : url({% if section.settings.bg_breadcrumb != blank %}{{ section.settings.bg_breadcrumb | img_url: 'master' }} {% else %}//via.placeholder.com/1920x510 {% endif %})">
        <div class="title-page">
            <h2 class="">{{ section.settings.page_title }}</h2>
        </div>
        {% include 'breadcrumb' %}
    </div>
</div>
<section class="page-cart">
    <div class="content-pages">
        <div class="container">
            <div class="enj-cart-error"></div>
            <div class="content-about content-cart-page" id="cartContainer">
                {% if cart.item_count > 0 %}
                    <form action="/cart" method="post" novalidate>
                        <h2 class="title-page">{{ section.settings.page_title }}</h2>
                        <div class="cart-layout-container d-flex">
                            <ul class="list-item">
                                {% for item in cart.items %}
                                    <li class="cart_item d-flex" data-line="{{ forloop.index }}">
                                        <div data-label="Product Name" class="product-thumbnail">
                                            <a href="{{ item.url }}">
                                                <img src="{{ item | img_url: 'small' }}" alt="{{ item.title | escape }}" />
                                            </a>
                                        </div>
                                        <div class="product-name-thumb" data-title="Product">
                                            <a class="product-name" href="{{ item.url }}">{{ item.product.title }}</a>
                                            {% if item.product.metafields.custom.short_description %}
                                                <div class="product-des">
                                                    {{ item.product.metafields.custom.short_description }}
                                                </div>
                                            {% endif %}
                                            <div class="product_info">
                                                {%- unless item.has_only_default_variant %}
                                                    <div class="options-value">
                                                        {% for option in item.options_with_values -%}
                                                            <span class="option-value">{{ option.name }}: {{ option.value }} . </span>
                                                        {%- endfor %}
                                                    </div>
                                                {% endunless %}
                                                <div class="product-quantity"
                                                    data-title="Quantity">
                                                    <input type="number" name="updates[]" id="updates_{{ item.id }}"
                                                           value="{{ item.quantity }}" min="0" data-id="{{ forloop.index }}">
                                                </div>
                                            </div>
                                            <div class="product_price">
                                                <span class="amount">{{ item.price | money_with_currency }}</span>
                                                <p class="price-text">{{ 'products.product.price_text' | t }}</p>
                                            </div>
                                            <div class="product-remove">
                                                <a class="remove set-12-svg" href="/cart/change?line={{ forloop.index }}&amp;quantity=0">
                                                    {{ 'cart.general.remove' | t }}
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                            <div class="cart_totals ">
                                <div class="cart-update d-none">
                                    <input type="submit" value="{{ 'cart.general.update' | t }}" name="update_cart"
                                           class="button bg-color">
                                </div>
                                <div class="continue-shopping-1 d-none">
                                    <a href="/collections/all">{{ 'cart.general.continue' | t }}</a>
                                </div>

                                <div class="cart-check">
                                    <h2 class="cart-title">{{ 'cart.label.cart_total' | t }}</h2>
                                    <table class="total-checkout">
                                        <tbody>
                                            <tr>
                                                <th class="cart-label">
                                                    <span>{{ 'cart.label.subtotal' | t }}</span>
                                                </th>
                                                <td class="cart-amount">
                                                    <span class="amount enj-cartsubcost">{{ cart.items_subtotal_price | money_with_currency }}</span>
                                                    <span class="price-text">{{ 'products.product.price_text' | t }}</span>
                                                </td>
                                            </tr>
                                            {%- if cart.discount_applications != blank -%}
                                                {% for discount_application in cart.discount_applications %}
                                                    <tr>
                                                        <th><span>{{ 'customer.order.payment_info.discount' | t }} {% if discount_application.title %}({{ discount_application.title }}) {% endif %}</span></th>
                                                        <td class="cart-amount">
                                                            <span class="amount">{{ discount_application.total_allocated_amount | money_with_currency }}</span>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            {% endif %}
                                            <tr class="total">
                                                <th class="cart-label">
                                                    <span>{{ 'cart.label.total' | t }}</span>
                                                </th>
                                                <td class="cart-amount">
                                                    <span class="amount enj-cartcost">{{ cart.total_price | money_with_currency }}</span>
                                                    <span class="price-text">{{ 'products.product.price_text' | t }}</span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="wc-proceed-to-checkout clearfix">
                                        <a class="checkout-button button alt wc-forward bg-color"
                                           href="/checkout">{{ 'cart.general.checkout' | t }}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                {% else %}
                    <div class="cart-empty d-block text-center w-100">
                        <img src="{{ 'mini-cart-empty.png' | asset_url }}"/>
                        <p>{{ 'cart.general.empty' | t }}</p>
                        <a href="/collections/all" class="to-cart">{{ 'cart.general.shop_now' | t }}</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- End Content Pages -->
</section>
{% schema %}
{
    "name": "Cart Page",
    "settings": [
        {
            "type": "image_picker",
            "id": "bg_breadcrumb",
            "info": "1920 x 510px recommended",
            "label": "Background Breadcumb"
        },
        {
            "type": "text",
            "id": "page_title",
            "info": "Page Title",
            "label": "Cart"
        }
    ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
