<div data-section-id="{{ section.id }}" data-section-type="section-banner-v4"
     style="{% if section.settings.margin_top != blank %}margin-top: {{section.settings.margin_top}}px;{% endif %} {% if section.settings.margin_bottom != blank %}margin-bottom: {{section.settings.margin_bottom}}px;{% endif %}">
    <div class="section-banner-v4 mt-all ms-auto me-auto">
        {% if section.settings.heading != blank or section.settings.sub_heading != blank %}
            <div class="banner-heading-container">
                <div class="row pb-1 pb-md-0 mb-4 mb-md-5">
                    {% if section.settings.heading != blank %}
                        <h1 class="title_heading text-center pb-1 pb-md-0 mb-3 mb-sm-2 fw-normal text-uppercase"
                            style="color: {{ section.settings.heading_color }}; {% if section.settings.heading_font_size != blank %}font-size: {{section.settings.heading_font_size}}px;{% endif %}">{{ section.settings.heading }}</h1>
                    {% endif %}
                    {% if section.settings.sub_heading != blank %}
                        <p class="text-center mb-0"
                           style="color: {{ section.settings.sub_heading_color }}; {% if section.settings.sub_heading_font_size != blank %}font-size: {{section.settings.sub_heading_font_size}}px;{% endif %}">{{ section.settings.sub_heading }}</p>
                    {% endif %}
                </div>
            </div>
        {% endif %}
        <div class="container container-v2">
            <div class="row">
                <div class="col-lg-6 col-md-6 ">
                    <div class="box-banner ">
                        <div class="box-img">
                            <a href="{{ section.settings.url_banner1 }}">
                                <img
                                    src="{% if section.settings.img_banner1 != blank %}{{ section.settings.img_banner1 | img_url: 'master' }} {% else %}//via.placeholder.com/690x475{% endif %}"
                                    data-src="{% if section.settings.img_banner1 != blank %}{{ section.settings.img_banner1 | img_url: 'master' }} {% else %}//via.placeholder.com/690x475{% endif %}"
                                    class="lazyload w-100 img-fluid" alt="_img">
                            </a>
                        </div>
                        <div class="info-banner">
                            <div class="info-banner-top">
                                {% if section.settings.title_1 != blank %}
                                    <h3 class="title title-{{ section.id }}">{{ section.settings.title_1 }}</h3>
                                {% endif %}
                                {% if section.settings.sub-title1 != blank %}
                                    <span class="sub-title sub-title-{{ section.id }} text-center">
                                        {{ section.settings.sub-title1 }}
                                    </span>
                                {% endif %}
                            </div>
                            <div class="info-bottom mt-3 d-flex justify-content-center">
                                {% if section.settings.button_1 != blank %}
                                    <a href="{{ section.settings.url_button1 }}"
                                       class="button-shop button-shop-{{ section.id }} d-flex justify-content-center align-items-center fw-semibold text-decoration-none">{{ section.settings.button_1 }}</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 ">
                    <div class="box-banner ">
                        <div class="box-img">
                            <a href="{{ section.settings.url_banner2 }}">
                                <img
                                    src="{% if section.settings.img_banner2 != blank %}{{ section.settings.img_banner2 | img_url: 'master' }} {% else %}//via.placeholder.com/690x475{% endif %}"
                                    data-src="{% if section.settings.img_banner2 != blank %}{{ section.settings.img_banner2 | img_url: 'master' }} {% else %}//via.placeholder.com/690x475{% endif %}"
                                    class="lazyload w-100 img-fluid" alt="_img">
                            </a>
                        </div>
                        <div class="info-banner">
                            <div class="info-banner-top">
                                {% if section.settings.title_2 != blank %}
                                    <h3 class="title title-{{ section.id }}">{{ section.settings.title_2 }}</h3>
                                {% endif %}
                                {% if section.settings.sub-title2 != blank %}
                                    <span class="sub-title sub-title-{{ section.id }} text-center">
                                        {{ section.settings.sub-title2 }}
                                    </span>
                                {% endif %}
                            </div>
                            <div class="info-bottom mt-3 d-flex justify-content-center">
                                {% if section.settings.button_2 != blank %}
                                    <a href="{{ section.settings.url_button2 }}"
                                       class="button-shop button-shop-{{ section.id }} d-flex justify-content-center align-items-center fw-semibold text-decoration-none">{{ section.settings.button_2 }}</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .section-banner-v4 {
        max-width: 1440px;
    }

    .section-banner-v4 .box-banner .info-banner .info-banner-top .title-{{ section.id }} {
        color: {{section.settings.color_title}};
    }

    .section-banner-v4 .box-banner .info-banner .info-banner-top .sub-title-{{ section.id }} {
        color: {{section.settings.color_content}};
    }

    .section-banner-v4 .box-banner .info-banner .info-bottom .button-shop-{{ section.id }} {
        color: {{section.settings.color_btn}};
        background: {{section.settings.bg_btn}};
        border: 1px solid{{section.settings.color_btn}};
    }

    .section-banner-v4 .box-banner .info-banner .info-bottom .button-shop-{{ section.id }}:hover {
        color: {{section.settings.color_btn_hover}};
        background: {{section.settings.bg_btn_hover}};
        border: 1px solid{{section.settings.bg_btn_hover}};
    }

</style>

{% schema %}
{
    "name": "BANNER V4",
    "settings": [
        {
            "type": "header",
            "content": "Setting banner 1"
        },
        {
            "type": "text",
            "id": "heading",
            "label": "Heading"
        },
        {
            "type": "color",
            "id": "heading_color",
            "label": "Heading color",
            "default": "#000000"
        },
        {
            "type": "text",
            "id": "heading_font_size",
            "label": "Heading Font Size",
            "default": "48"
        },
        {
            "type": "text",
            "id": "sub_heading",
            "label": "Sub heading"
        },
        {
            "type": "color",
            "id": "sub_heading_color",
            "label": "Sub heading color",
            "default": "#000000"
        },
        {
            "type": "text",
            "id": "sub_heading_font_size",
            "label": "Sub Heading Font Size",
            "default": "14"
        },
        {
            "type": "image_picker",
            "id": "img_banner1",
            "label": "Image",
            "info": "690 x 475px recommended"
        },
        {
            "type": "url",
            "id": "url_banner1",
            "label": "URL images banner 1",
            "default": "/collections/all"
        },
        {
            "type": "text",
            "id": "title_1",
            "label": "Title banner 1",
            "default": "Backpacks"
        },
        {
            "type": "text",
            "id": "sub-title1",
            "label": "Sub title 1",
            "default": "Daily Essentials"
        },
        {
            "type": "text",
            "id": "button_1",
            "label": "Button 1",
            "default": "Shop now"
        },
        {
            "type": "url",
            "id": "url_button1",
            "label": "URL button 1",
            "default": "/collections/all"
        },
        {
            "type": "header",
            "content": "Setting banner 2"
        },
        {
            "type": "image_picker",
            "id": "img_banner2",
            "label": "Image",
            "info": "690 x 475px recommended"
        },
        {
            "type": "url",
            "id": "url_banner2",
            "label": "URL images banner 2",
            "default": "/collections/all"
        },
        {
            "type": "text",
            "id": "title_2",
            "label": "Title banner 2",
            "default": "Sneakers"
        },
        {
            "type": "text",
            "id": "sub-title2",
            "label": "Sub title 2",
            "default": "Daily Essentials"
        },
        {
            "type": "text",
            "id": "button_2",
            "label": "Button 2",
            "default": "SHOP NOW"
        },
        {
            "type": "url",
            "id": "url_button2",
            "label": "URL button 2",
            "default": "/collections/all"
        },
        {
            "type": "header",
            "content": "Settings Color Banner"
        },
        {
            "type": "header",
            "content": "Section Space"
        },
        {
            "type": "color",
            "id": "color_title",
            "label": "Color Title",
            "default": "#222"
        },
        {
            "type": "color",
            "id": "color_content",
            "label": "Color Sub Title",
            "default": "#b4b4b4"
        },
        {
            "type": "color",
            "id": "color_btn",
            "label": "Color Button",
            "default": "#222"
        },
        {
            "type": "color",
            "id": "bg_btn",
            "label": "background button"
        },
        {
            "type": "color",
            "id": "color_btn_hover",
            "label": "Color Button",
            "default": "#fff"
        },
        {
            "type": "color",
            "id": "bg_btn_hover",
            "label": "Background Color Button Hover",
            "default": "#222"
        },
        {
            "type": "text",
            "id": "margin_top",
            "label": "Margin Top",
            "info": "Defined in pixels. Do not add the 'px' unit."
        },
        {
            "type": "text",
            "id": "margin_bottom",
            "label": "Margin Bottom",
            "info": "Defined in pixels. Do not add the 'px' unit."
        }
    ],
    "presets": [
        {
            "name": "BANNER V4",
            "category": "HOME"
        }
    ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
