<script src="{{ 'intlTelInput-jquery.min.js' | asset_url }}"></script>
<script src="{{ 'jquery.validate.min.js' | asset_url }}"></script>
<link rel="stylesheet" href="{{ 'intlTelInput.min.css' | asset_url }}">
<div data-section-id="{{ section.id }}" data-section-type="section-newsletter-v1" style="{% if section.settings.margin_top != blank %}margin-top: {{section.settings.margin_top}}px;{%endif%} {% if section.settings.margin_bottom != blank %}margin-bottom: {{section.settings.margin_bottom}}px;{% endif %}">
  {% if settings.newsletter_form_action != blank %}
  {% assign form_action = settings.newsletter_form_action %}
  {% else %}
  {% assign form_action = '#' %}
  {% endif %}
  
  <div class="{% if section.settings.select_width == 'full' %} {% else %} container container-v1 {% endif %} ">
    <div class="section-newsletter-v1 mt-all {% if section.settings.enable-pd-small %}pd-small{% endif %}" style="{% if section.settings.style_bg == 'color' %}background: {{section.settings.bg_color}}{% else %}background-image : url({% if section.settings.bg_newsletters != blank %} {{section.settings.bg_newsletters |img_url : 'master'}} {% else %} //via.placeholder.com/1920x350 {% endif %}){% endif %};">
      <div class="text-center"> 
        {% if section.settings.title_newletter != blank %}
        <div class="title_newletter">
          <h3 class="title_heading mb-0" style="color: {{section.settings.color_title}}">{{section.settings.title_newletter}}</h3>
        </div>
        {% endif %}

        {% if section.settings.content_newletter != blank %}
        <p class="mb-3 content"  style="color: {{section.settings.color_content}}">{{section.settings.content_newletter}}</p>
        {% endif %}      

        <div class="newletter_email">
            <button style="margin: auto;
    width: auto!important;
    padding: 15px;" class="btn-request-product shopify-payment-button__button shopify-payment-button__button--unbranded">REQUEST PRODUCT</button>
        </div> 
      </div>
    </div>
  </div>
</div>

<style>
  .section-newsletter-v1 .newletter_email form .form-group .form-control{
    background-color:{{section.settings.bg_color_inputnewletter}};
  }
  .popup .modal-window {
    min-height: 620px;
    margin: 0 auto;
    position: relative;
    width: 500px;
    margin: auto;
    top: calc((100% - 622px)/2);
  }
  .section-newsletter-v1 .title_newletter h3 {
     font-size: 36px;
     letter-spacing: 0px;
   }

  .request-product-form-container {
    height: 465px;
  }
  @media (max-width: 575.98px) {

    .request-product-form-container {
      height: 536px;
    }
  }


  @media (max-width: 575.98px) {

    .popup .modal-window {
      min-height: 710px;
      margin: 0 auto;
      position: relative;
      width: 98%;
      top: calc((100% - 710px)/2);
    }
  }


  .form-control {
    height: 55px;
    border-radius: 0;
  }
  .popup .title {
    text-align: center;
    font-size: 20px;
    letter-spacing: 0px;
  }
  .request-product-content {
    padding: 50px;
  }
  .popup .modal-window .window-window .window-content {
    float: unset;
  }
  .popup .modal-window .window-window .window-content .close_edit {
    right: -5px;
    top: -25px;
    background: none;
  }
  .iti.iti--allow-dropdown.iti--separate-dial-code {
    width: 100%;
  }
  .btn-product-request-submit-loading {
    text-align: center;
    height: 55px;
  }
  .customer_product_request-done{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100%;
    justify-content: space-between;
  }
  .customer_product_request-done .title {
    text-align: center;
    font-size: 20px;
    letter-spacing: 0px;
    line-height: 30px;
  }
  .customer_product_request-done .content {
    text-align: center;
    letter-spacing: 0px;

  }
</style>

<div class="popup jsreqprod_popup d-none">
  <div class="modal-overlay"></div>
  <div class="modal-window">
    <div class="window-window">
      <div class="window-content clearfix">
        <a class="close_edit jsclosepoup" title="Close" href="javascript:void(0)">
          <span class="  set-14-svg fill-white flex justify-content-center align-items-center w-100 h-100">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 298.667 298.667" style="enable-background:new 0 0 298.667 298.667;" xml:space="preserve">
              <g>
                <g>
                  <polygon points="298.667,30.187 268.48,0 149.333,119.147 30.187,0 0,30.187 119.147,149.333 0,268.48 30.187,298.667     149.333,179.52 268.48,298.667 298.667,268.48 179.52,149.333   "></polygon>
                </g>
              </g>
            </svg>
          </span>
        </a>
        <div class="request-product-content">
          <h2 class="title">REQUEST PRODUCT</h2>
          <div class="request-product-form-container mt-3">
            <form method="post" action="{{ section.settings.url }}" id="customer_product_request" accept-charset="UTF-8">
              <input type="hidden" name="form_type" value="customer_product_request">
              <input type="hidden" name="utf8" value="✓">
              <div class="row">
                <div class="form-group col-md-6 col-xs-12">
                  <input type="text" class="form-control" name="customer[first_name]" {% if customer %} value = "{{ customer.first_name }}" {% endif %} placeholder="First Name" required="">
                </div>

                <div class="form-group col-md-6 col-xs-12">
                  <input type="text" class="form-control" placeholder="Last Name" {% if customer %} value = "{{ customer.last_name }}" {% endif %} name="customer[last_name]" required="">
                </div>
              </div>

              <div class="form-group">
                <input type="text" class="form-control" placeholder="Email  Address" {% if customer %} value = "{{ customer.email }}" {% endif %} name="customer[email]" required="">
              </div>

              <div class="form-group">
                <input type="text" class="form-control" placeholder="Product Name" name="product_name" required="">
              </div>

              <div class="form-group">
                <textarea rows="4" cols="50" class="form-control" placeholder="Product Description" name="product_description" required=""></textarea>
              </div>

              <div class="form-group">
                <input type="tel" autocomplete="tel" class="form-control" {% if customer %} value = "{{ customer.default_address.phone }}" {% endif %} placeholder="Mobile No" name="customer[contact_no]" required="">
              </div>
              <button type="submit" class="btn btn-dark w-100 form-control btn-product-request-submit" value="Submit">
                Submit
              </button>
              <div type="submit" class="w-100 btn-product-request-submit-loading d-none">
                <svg xml:space="preserve" style="enable-background:new 0 0 50 50;margin-top: -1px;" viewBox="0 0 24 30" height="20px" width="21px" y="0px" x="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" id="Layer_1" version="1.1"><rect opacity="0.2" fill="#000" height="8" width="3" y="10" x="0"><animate repeatCount="indefinite" dur="0.6s" begin="0s" values="0.2; 1; .2" attributeType="XML" attributeName="opacity"/><animate repeatCount="indefinite" dur="0.6s" begin="0s" values="10; 20; 10" attributeType="XML" attributeName="height"/><animate repeatCount="indefinite" dur="0.6s" begin="0s" values="10; 5; 10" attributeType="XML" attributeName="y"/></rect><rect opacity="0.2" fill="#000" height="8" width="3" y="10" x="8">      <animate repeatCount="indefinite" dur="0.6s" begin="0.15s" values="0.2; 1; .2" attributeType="XML" attributeName="opacity"/><animate repeatCount="indefinite" dur="0.6s" begin="0.15s" values="10; 20; 10" attributeType="XML" attributeName="height"/><animate repeatCount="indefinite" dur="0.6s" begin="0.15s" values="10; 5; 10" attributeType="XML" attributeName="y"/></rect><rect opacity="0.2" fill="#000" height="8" width="3" y="10" x="16"><animate repeatCount="indefinite" dur="0.6s" begin="0.3s" values="0.2; 1; .2" attributeType="XML" attributeName="opacity"/><animate repeatCount="indefinite" dur="0.6s" begin="0.3s" values="10; 20; 10" attributeType="XML" attributeName="height"/><animate repeatCount="indefinite" dur="0.6s" begin="0.3s" values="10; 5; 10" attributeType="XML" attributeName="y"/></rect></svg>
              </div>
            </form>
            <div class="customer_product_request-done d-none" method="post" action="{{ section.settings.url }}" id="customer_product_request-done" accept-charset="UTF-8">
              <div></div>
              <div>
                <div class="title_newletter mb-3">
                  <h3 class="title mb-0">Thanks for using our<br/>
                    request product feature</h3>
                </div>

                <p class="mb-3 content">One of our product specialist will contact you soon</p>
              </div>
              <button class="btn btn-dark w-100 form-control btn-product-request-done">
                Done
              </button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<script>
    $('.jsclosepoup').on('click', function() {
      $('.jsreqprod_popup').addClass('d-none');

    });
    $('.modal-overlay').on('click', function() {
      $('.jsreqprod_popup').addClass('d-none');

    });
    $('.btn-request-product').on('click', function() {
      $('.jsreqprod_popup').removeClass('d-none');

    });
    $('.btn-product-request-done').on('click', function() {
      $('.jsreqprod_popup').addClass('d-none');
      $("#customer_product_request-done").addClass('d-none');
      $("#customer_product_request").removeClass('d-none');

    });
    // phone number
    var newAddress_phoneNumber = $("input[type=tel]");
    newAddress_phoneNumber.intlTelInput({
      allowDropdown: true,
      autoPlaceholder: "aggressive",
      formatOnDisplay: true,
      initialCountry: "ae",
      separateDialCode: true,
      formatOnDisplay: true,
      placeholderNumberType: "number",
      utilsScript: "{{ 'intlTelInputUtils.js' | asset_url }}",
    });
    $("#customer_product_request").submit(function(e) {

      e.preventDefault();

      var form = $(this);
      var actionUrl = form.attr('action');

      $.ajax({
        type: "POST",
        url: actionUrl,
        data: form.serialize(),
        beforeSend: function() {
          $(".btn-product-request-submit-loading").removeClass('d-none');
          $(".btn-product-request-submit").addClass('d-none');
        },
        complete:function() {
          $(".btn-product-request-submit-loading").addClass('d-none');
          $(".btn-product-request-submit").removeClass('d-none');
          $("#customer_product_request-done").removeClass('d-none');
          $("#customer_product_request").addClass('d-none');
        },
        success: function(data) {
          alert(data); // show response from the php script.
        }
      });

    });



</script>

{% schema %}
{
  "name": "REQUEST PRODUCT-V1",
  "settings": [

  {
      "type": "select",
      "id": "select_width",
      "label": "Select width",
    "options": [
        {
          "value": "full",
          "label": "Width Full"
        },
        {
          "value": "container",
          "label": "Width Container"
        }
      ],
      "default": "full"
    },
    {
      "type": "radio",
      "id": "style_bg",
      "label": "Style Background",
      "options": [
        {
          "value": "color",
          "label": "Color"
        },
        {
          "value": "image",
          "label": "Image"
        }
      ],
      "default": "image"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background color",
      "default": "#f2f2f2"
    },

    {
      "type": "image_picker",
      "id": "bg_newsletters",
      "label": "Background Image Section only style 1 and 2"
    },
    {
      "type": "text",
      "id": "title_newletter",
      "label": "Title Newletter",
      "default": "Cannot find what you are looking for"
    },
  {
      "type": "color",
      "id": "color_title",
      "label": "Color Title"
    },

  {
      "type": "textarea",
      "id": "content_newletter",
      "label": "Content Newletter",
      "default": "Cannot find what you are looking for, request the product you want."
    },
  {
      "type": "color",
      "id": "color_content",
      "label": "Color Content"
    },
    {
      "type": "header",
      "content": "Section Space"
    },
    {
      "type": "text",
      "id": "margin_top",
      "label": "Margin Top",
      "info": "Defined in pixels. Do not add the 'px' unit."
    },
    {
      "type": "text",
      "id": "margin_bottom",
      "label": "Margin Bottom",
      "info": "Defined in pixels. Do not add the 'px' unit."
    }
  ],
  "presets": [
    {
      "name": "REQUEST PRODUCT-V1",
      "category": "HOME"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}