<div class="page-cms wrap-bread-crumb breadcrumb_collection2">
    <div class="title-page {% if section.settings.bg_breadcrumb != blank %} page-has-background{% endif %}"
            {% if section.settings.bg_breadcrumb != blank %}
                style="--bg_breadcrumb : url({{ section.settings.bg_breadcrumb | img_url: 'master' }});
         {% if section.settings.bg_breadcrumb_mobile != blank %}--bg_breadcrumb_mobile : url({{ section.settings.bg_breadcrumb_mobile | img_url: 'master' }}){% else %}--bg_breadcrumb_mobile : url({{ section.settings.bg_breadcrumb | img_url: 'master' }}){% endif %}"
            {% endif %}
    >
        <h2 class="container-page-cms">{{ page.title }}</h2>
    </div>
    <div class="terms-of-service-pages container-page-cms">
        <div>
            {%- if section.blocks.size > 0 -%}
                {% for block in section.blocks %}
                    {%- case block.type -%}
                        {%- when '@app' -%}
                            {% render block %}
                        {% when 'text-content' %}
                            {% if block.settings.block_content == blank %}{% continue %}{% endif %}
                            <div class="text-content {% if block.settings.remove_margin %}remove-margin{% endif %}">
                                {% if block.settings.block_title != blank %}
                                    <div class="text-content_title">{{ block.settings.block_title }}</div>
                                {% endif %}
                                {% if block.settings.block_content %}
                                    <div class="text-content_content">{{ block.settings.block_content }}</div>
                                {% endif %}
                            </div>
                    {%- endcase -%}
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>

{% schema %}
{
    "name": "Term of Service",
    "settings": [
        {
            "type": "image_picker",
            "id": "bg_breadcrumb",
            "label": "Background Image Title",
            "info": "1920x277px recommended"
        },
        {
            "type": "image_picker",
            "id": "bg_breadcrumb_mobile",
            "label": "Background Image Title Mobile",
            "info": "430x277px recommended"
        }
    ],
    "blocks": [
        {
            "type": "@app"
        },
        {
            "type": "text-content",
            "name": "Text content",
            "settings": [
                {
                    "type": "text",
                    "id": "block_title",
                    "label": "Title"
                },
                {
                    "type": "richtext",
                    "id": "block_content",
                    "label": "Content"
                },
                {
                    "type": "checkbox",
                    "id": "remove_margin",
                    "label": "Remove margin of p tag",
                    "default": true
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Term of Service",
            "blocks": [
            ]
        }
    ]
}
{% endschema %}
